* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  font-family: inherit;
  cursor: pointer;
}

:root {
  --primary-red: #811434;
  --secondary-red: #ef4859;
  --yellow-border: #ffaa2c;
  --blue-border: #2c67ff;
  --green-border: #00cf3a;
  --red-border: #ff1c1c;
  --frozen-color: #f4f7ff;
  --peach-light-color: #fff2ee;
  --subtle-text-color: #8c8ca1;
}
